/* Inicio de estilos */
#tituloprincipal{
    color: aqua;
    font-size: 30px;
    text-align: center;
}

/* Estilos titulo secundarios */
#titulosecundario{
    color: rgb(0, 34, 255);
    font-size: 30px;
    text-align: center;
}

/* estilos de los parrafos */
#descripcion{
    color: blue;
    font-size: 20px;
    text-align: center;    
}

#descripcion2{
    color: blue;
    font-size: 10px;
    text-align: center;    
}